<% @house = @house || @new_house %>
<% if @house.errors.any? %>
  <%= render 'layouts/error', {obj: @house} %>
<% end %>


<h1>Add Your House here</h1>
<%= form_for(@house) do |f| %>
  <%= render 'form', {form_field: f} %><br/>
  <%= f.submit %>
<% end %>

