<h1>Welcome, SignUp Here</h1>
<%= form_tag(users_path) do %>
  <%#= form_tag('/users')%>
  Email: <%= text_field_tag 'email' %><br/>
  Password: <%= password_field_tag 'password'%><br/>
  <%= submit_tag("Create User")%>
<% end %>

